

<nav class="navbar navbar-dark bg-dark px-3 d-flex justify-content-between">
  <a class="navbar-brand" routerLink="/dashboard">LGM</a>
  <div class="d-flex gap-3 align-items-center">

    <ng-container *ngIf="!IsLoggin">
      <a class="nav-link text-white" routerLink="/login">Login</a>
      <a class="nav-link text-white" routerLink="/registration">Register</a>
    </ng-container>

    <ng-container *ngIf="IsLoggin">
      <a class="nav-link text-white" routerLink="/dashboard">Dashboard</a>
      <span class="badge bg-secondary">{{ roleName }}</span>
      <a class="nav-link text-white" style="cursor:pointer" (click)="logout()">
        Logout
      </a>
    </ng-container>

  </div>
</nav>

<router-outlet></router-outlet>